In [6]:
import pandas as pd
import numpy as np

In [7]:
data = pd.read_csv("RentalStats.csv")

In [8]:
data

    Rent  Bed  Bath  Sqft
0    645    1   1.0   500
1    675    1   1.0   648
2    760    1   1.0   700
3    800    1   1.0   903
4    820    1   1.0   817
5    850    2   1.0   920
6    855    1   1.0   900
7    859    1   1.0   886
8    900    1   1.5  1000
9    905    2   1.0   920
10   905    2   1.0   876
11   929    2   1.0   920
12   960    2   1.0   975
13   975    2   2.0  1100
14   990    1   1.5   940
15   995    2   1.0  1000
16  1029    2   2.0  1299
17  1039    2   2.0  1164
18  1049    2   2.0  1180
19  1050    2   2.0  1162
20  1084    2   2.0  1163
21  1100    2   1.0  1020
22  1100    2   2.0  1150
23  1185    2   2.0  1225
24  1245    3   2.0  1368
25  1275    2   2.0  1400
26  1275    3   2.0  1350
27  1400    3   1.0  1185
28  1450    2   2.0  1200
29  1500    3   2.0  1412
30  1518    3   3.0  1700
31  1600    3   1.0  1440
32  1635    3   3.0  1460
33  1635    3   3.0  1460
34  1650    3   1.5  1170
35  1750    3   1.5  1944
36  1950    4   2.5  2265
37  1975    3   4.0  1700
38  2200    5   4.0  4319
39  2400    3   2.5  2700

In [9]:
# Meter Squared Conversion Function
fn = lambda x: x*0.093

In [10]:
data['Sqft'].apply(fn)

0      46.500
1      60.264
2      65.100
3      83.979
4      75.981
5      85.560
6      83.700
7      82.398
8      93.000
9      85.560
10     81.468
11     85.560
12     90.675
13    102.300
14     87.420
15     93.000
16    120.807
17    108.252
18    109.740
19    108.066
20    108.159
21     94.860
22    106.950
23    113.925
24    127.224
25    130.200
26    125.550
27    110.205
28    111.600
29    131.316
30    158.100
31    133.920
32    135.780
33    135.780
34    108.810
35    180.792
36    210.645
37    158.100
38    401.667
39    251.100
Name: Sqft, dtype: float64

In [11]:
import seaborn as sns

In [12]:
sns.distplot(data['Rent'])

In [13]:
sns.pairplot(data, hue = 'Bed')

In [14]:
sns.jointplot(x='Rent', y='Sqft', data =data, kind = 'scatter')

In [15]:
sns.jointplot(x='Rent', y='Bed', data =data, kind = 'kde')

In [16]:
data.describe()

              Rent        Bed       Bath         Sqft
count    40.000000  40.000000  40.000000    40.000000
mean   1222.925000   2.200000   1.750000  1286.025000
std     424.804413   0.911465   0.816497   645.813678
min     645.000000   1.000000   1.000000   500.000000
25%     905.000000   2.000000   1.000000   920.000000
50%    1067.000000   2.000000   1.750000  1163.500000
75%    1504.500000   3.000000   2.000000  1403.000000
max    2400.000000   5.000000   4.000000  4319.000000

In [17]:
X = data[['Sqft','Bed','Bath']]
Y = data['Rent']

In [18]:
from sklearn.model_selection import train_test_split
X_Train, X_Test, Y_Train, Y_Test = train_test_split(X, Y, test_size=0.25, random_state=1990)

In [19]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()

In [20]:
lm.fit(X_Train, Y_Train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [21]:
weights = pd.DataFrame(lm.coef_, X.columns, columns=['Weights'])
weights

         Weights
Sqft    0.594786
Bed   152.327984
Bath   42.292233

In [22]:
projections = lm.predict(X_Test)

In [23]:
import matplotlib.pyplot as plt

In [24]:
plt.scatter(Y_Test,projections)

In [25]:
from sklearn import metrics
print('MAE:', metrics.mean_absolute_error(Y_Test, projections))
print('MSE:', metrics.mean_squared_error(Y_Test, projections))
print('RMSE:', np.sqrt(metrics.mean_squared_error(Y_Test, projections)))

MAE: 206.325309141
MSE: 198760.31406
RMSE: 445.825430028